node-red/template.json
[
    {
        "id": "c4e87e7c533a1bac",
        "type": "tab",
        "label": "Flow 13",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c773e69c065b667d",
        "type": "mqtt in",
        "z": "c4e87e7c533a1bac",
        "name": "",
        "topic": "/room/ab-1-302",
        "qos": "0",
        "datatype": "json",
        "broker": "27f533fbfdbaf03b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "6fb3066e1e316918"
            ]
        ]
    },
    {
        "id": "674a0f0d3812c193",
        "type": "debug",
        "z": "c4e87e7c533a1bac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "b0accf686d267492",
        "type": "function",
        "z": "c4e87e7c533a1bac",
        "name": "send Image",
        "func": "let payload = {\n    img: Buffer.from(msg.payload).toString('base64'),\n    room_id: flow.get(\"room_id\")\n}\nmsg.payload = payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "6578277407438e95"
            ]
        ]
    },
    {
        "id": "6578277407438e95",
        "type": "http request",
        "z": "c4e87e7c533a1bac",
        "name": "Capture Attendance",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/api/attendance/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "674a0f0d3812c193"
            ]
        ]
    },
    {
        "id": "6fb3066e1e316918",
        "type": "change",
        "z": "c4e87e7c533a1bac",
        "name": "set MQTT data in Context",
        "rules": [
            {
                "t": "set",
                "p": "room_id",
                "pt": "flow",
                "to": "payload.room_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "capture",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "d52d3246ce7863e2"
            ]
        ]
    },
    {
        "id": "d52d3246ce7863e2",
        "type": "ui_webcam",
        "z": "c4e87e7c533a1bac",
        "name": "",
        "group": "e08a580d7efccc43",
        "order": 2,
        "width": 0,
        "height": 5,
        "countdown": false,
        "autoStart": true,
        "hideCaptureButton": false,
        "showImage": "2",
        "mirror": true,
        "format": "jpeg",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "b0accf686d267492"
            ]
        ]
    },
    {
        "id": "27f533fbfdbaf03b",
        "type": "mqtt-broker",
        "name": "FRAS ",
        "broker": "mqtt.eclipseprojects.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e08a580d7efccc43",
        "type": "ui_group",
        "name": "Default1",
        "tab": "33eb103a4c418db8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "33eb103a4c418db8",
        "type": "ui_tab",
        "name": "Room",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]